@page "/CA"
@using FacturationSolution.Shared
using Newtonsoft.Json;
using System;
using System.IO;
@inject HttpClient http

<h3>Chiffre d'affaire</h3>

<p> Voici une aperçu des chiffres d'affaires réels et attendus </p>
@if (CaJson == null)
{
    <p>Interrogation du serveur...</p>
}
else
{
    <p>  Chiffre d'affaire réel : @CaJson.CaDu</p>
    <p>  Chiffre d'affaire supposé : @CaJson.CaSuppose </p>
}


@code {
    private DashboardDTO CaJson = null;
    protected override async Task OnInitializedAsync()
    {
        CaJson = await http.GetFromJsonAsync<DashboardDTO>("api/Dashboard");
    }


}